<hr>
<form method="post" action="{{ path('linkphp_delete', {'idlinkphp': linkphp.idlinkphp}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce lien?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ linkphp.idlinkphp) }}">
    <button class="btn">Supprimer</button>
</form>
