<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Titre{% endblock %}</title>
        {% block stylesheets %}
            <link href="https://listphp.webdev-cf2m.be/css/bootstrap.min.css" rel="stylesheet">
            <link href="https://listphp.webdev-cf2m.be/css/scrolling-nav.css" rel="stylesheet">
            <link href="https://listphp.webdev-cf2m.be/css/app.css" rel="stylesheet">
        {% endblock %}
    </head>
    <body id="page-top">
    {% block body %}

    {% endblock %}
        {% block javascripts %}
            <!-- JavaScript -->
            <script src="https://listphp.webdev-cf2m.be/js/jquery.min.js"></script>
            <script src="https://listphp.webdev-cf2m.be/js/bootstrap.bundle.min.js"></script>
            <script src="https://listphp.webdev-cf2m.be/js/jquery.easing.min.js"></script>
            <script src="https://listphp.webdev-cf2m.be/js/scrolling-nav.js"></script>
        {% endblock %}
    <!-- Matomo -->
    <script type="text/javascript">
        var _paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="//statistiques.webdev-cf2m.be/";
            _paq.push(['setTrackerUrl', u+'matomo.php']);
            _paq.push(['setSiteId', '1']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <!-- End Matomo Code -->
    </body>
</html>
